.videocumple{

    height: 50%;
    width: auto;

    margin-top: 90px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.videocumple video{
    width: 540px;
}

.gaa a{
    width: 165px;
    height: 30px;
    position: absolute;
    left: 55px;
    top: 415px;
    background-color: red;

    @media screen and (width: 425px){
        width: 120px;
        height: 30px;
        left: 38px;
        top: 46%;
        background-color: red;
    }
}

.gaa2 a{
    width: 180px;
    height: 30px;
    position: absolute;
    left: 335px;
    top: 415px;
    background-color: red;

    @media screen and (width: 425px){
        width: 150px;
        height: 30px;
        left: 225px;
        top: 46%;
        background-color: red;
    }
}
